	@font-face{font-family:"Outfit",serif;
		src: url("Assets/Outfit-VariableFont_wght.ttf") format("truetype");
		font-weight:400;}

:root {
  --white: hsl(0, 0%, 100%);
  --slate300: hsl(212, 45%, 48%);
  --slate500: hsl(216, 15%, 48%);
  --slate900: hsl(218, 44%, 22%);
}


*{box-sizing:border-box;
/*margin:0;
padding:0*/}
body
	{ 	
	display:flex;
	justify-content: center;
	justify-items:center;
	min-height: 100vh;
	background-color:#D5E1EF;
	font-family:"Outfit", sans-serif;
}

.wrapper-text, .wrapper-text img{border-radius:0.75rem;
}
.wrapper-text{
	
	background-color:var(--white);
	margin:25px 1.5rem 150px 1.5rem;
	padding:1.5rem;
	max-width: 320px;
	width: 90%;
	text-align: center;
	box-shadow: 0 0 20px rgba(0,0,0.1)
}
.wrapper-text img{
		
	width:100%;
	max-width: 450px;
	margin-bottom:1.5rem;
}
h1{ 
	font-size:1.25rem;
	font-weight: bold;
	color:var(--slate900);
	line-height: 1.5;
	margin-bottom:1rem;
}
p{
	font-size:0.875rem;
	color:var(--slate500);
	line-height:1.5;
	margin-bottom: 1rem}
.attribution{
	margin:0;
	padding:0;
	align-content:flex-end;}
